body {
  font-family: Arial;
}

h1 {
  text-align: center;
  margin: 50px 0px;
}

h2 {
  margin-top: 0px;
}

.item {
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  padding: 20px;
  border-radius: 10px;
  display: grid;
}

.item:hover {
  background-color: #d6d6d6;
  transition: 0.5s;
}

.comprar {
  background-color: #a8f;
  text-decoration: none;
  padding: 10px 20px;
  color: #103;
  border-radius: 4px;
}

.comprar:hover {
  background-color: white;
  color: #a8f;
  transition: 0.5s;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* pra separar em colunas */ /* o "fr" e pra mudar o tamanho da coluna */
  gap: 20px; /* pra dar um espaço entre os elementos */
  justify-content: space-between;
}
